<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.mapper.TAccDiskspaceMapper" >
  <resultMap id="BaseResultMap" type="com.pl.model.TAccDiskspace" >
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="total_space" property="totalSpace" jdbcType="INTEGER" />
    <result column="default_space" property="defaultSpace" jdbcType="INTEGER" />
    <result column="used_space" property="usedSpace" jdbcType="INTEGER" />
    <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    company_id, total_space, default_space, used_space, expire_date, status, create_date, 
    modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_acc_diskspace
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_acc_diskspace
    where company_id = #{companyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pl.model.TAccDiskspace" >
    insert into t_acc_diskspace (company_id, total_space, default_space, 
      used_space, expire_date, status, 
      create_date, modify_date)
    values (#{companyId,jdbcType=BIGINT}, #{totalSpace,jdbcType=INTEGER}, #{defaultSpace,jdbcType=INTEGER}, 
      #{usedSpace,jdbcType=INTEGER}, #{expireDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pl.model.TAccDiskspace" >
    insert into t_acc_diskspace
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="totalSpace != null" >
        total_space,
      </if>
      <if test="defaultSpace != null" >
        default_space,
      </if>
      <if test="usedSpace != null" >
        used_space,
      </if>
      <if test="expireDate != null" >
        expire_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="totalSpace != null" >
        #{totalSpace,jdbcType=INTEGER},
      </if>
      <if test="defaultSpace != null" >
        #{defaultSpace,jdbcType=INTEGER},
      </if>
      <if test="usedSpace != null" >
        #{usedSpace,jdbcType=INTEGER},
      </if>
      <if test="expireDate != null" >
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pl.model.TAccDiskspace" >
    update t_acc_diskspace
    <set >
      <if test="totalSpace != null" >
        total_space = #{totalSpace,jdbcType=INTEGER},
      </if>
      <if test="defaultSpace != null" >
        default_space = #{defaultSpace,jdbcType=INTEGER},
      </if>
      <if test="usedSpace != null" >
        used_space = #{usedSpace,jdbcType=INTEGER},
      </if>
      <if test="expireDate != null" >
        expire_date = #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pl.model.TAccDiskspace" >
    update t_acc_diskspace
    set total_space = #{totalSpace,jdbcType=INTEGER},
      default_space = #{defaultSpace,jdbcType=INTEGER},
      used_space = #{usedSpace,jdbcType=INTEGER},
      expire_date = #{expireDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <select id="getDiskSpaceInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_acc_diskspace
    <where>
      company_id = #{companyId,jdbcType=BIGINT}
      <if test="beginDate != null and beginDate !='' and endDate != null endDate !=''">
      --   and modify_date &gt;= #{beginDate} and modify_date &lt;= endDate
        and DATE(modify_date) &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d')
        and DATE(modify_date) &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
      </if>
    </where>
    order by modify_date DESC
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM t_acc_diskspace
  </select>
</mapper>